.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-card.highlight {
    border: 2px solid #00fe6e; /* Borda destacada */
    background-color: #dfffe8b8; /* Fundo diferenciado */
    box-shadow: 0px 4px 20px rgba(0, 255, 38, 0.623); /* Sombra adicional */
  }
  