.navbar {
    background-color: #00dbca; /* Cor de fundo da navbar */
    color: #fff; /* Cor do texto */
    padding: 5px 0; /* Espaçamento interno */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between; /* Distribui os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    max-width: 100%; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container */
    padding: 0 30px; /* Espaçamento interno */
  }
  
  
  .navbar-logo {
    height: 50px; /* Defina a altura desejada para o logo */
    width: auto; /* A largura será ajustada automaticamente */
    padding: 0;
    margin: 0;

}
  
  
  .nav-menu {
    list-style: none; /* Remove os marcadores da lista */
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  
  .nav-item {
    margin-left: 20px; /* Espaçamento entre os itens do menu */
  
  }
  
  
  .nav-links {
    text-decoration: none; /* Remove a decoração do link */
    color: #fff; /* Cor do texto do link */
    padding: 5px 10px; /* Espaçamento interno do link */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
  }
  
  
  .nav-links:hover {
    background-color: #00ab9d; /* Cor de fundo ao passar o mouse */
  }